@import '../App.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  padding: 0 40px;
  height: 100px;
  position: relative;

  .nav-content{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    background-color: $primary;
  }

  .nav-group {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $primary;

    &.left {
      margin-right: 200px;
    }

    &.right {
      margin-left: 200px;
    }
  }

  .nav-link {
    background-color: $primary;
    text-decoration: none;
    color: $primary-dark;
    font-weight: bold;
    font-size: large;
    padding: 10px 15px;
    border-radius: 8px;

    &:hover {
      background-color: $primary-dark;
      color: white;
    }

  }

  .nav-cutout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 140px;
      border-radius: 50%;
    }
  }
}