@import '../App.scss';

.navbar {
  width: 200px;
  background-color: $background;
  padding: 20px 10px 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  ul {
    background-color: $background;
    list-style: none;
    padding: 0;

    li {
      background-color: $background;
      margin-bottom: 25px;

      a {
        background-color: $background;
        text-decoration: none;
        color: $background;
        font-weight: bold;
        font-size: xx-large;

        &.active {
          color: $white;
        }
      }
    }
  }
}