/* Color definitions */
$primary:             #9f0d08;
$primary-dark:        #8f0d08;
$secondary:           #b2aeae;
$secondary-dark:      #928e8e;
$background-dark:     #161618;
$background:          #202124;
$background-light:    #33353B;
$white:               #ffffff;

.app-container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

* {
  color: #ffffff;
  background-color: $background-light;
  font-family: Cambria, Georgia, serif;
}