/* Color definitions */
$primary:             #f7d960;
$primary-dark:        #8a772c;
$secondary:           #b2aeae;
$secondary-dark:      #928e8e;
$background-dark:     #cc9d5e;
$background:          #fff6e6;
$background-light:    #fff6e6;
$white:               #ffffff;
$off-white:           #f8f8f8;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

* {
  color: black;
  background-color: $background-light;
  font-family: Cambria, Georgia, serif;
}